---
layout: presentation
tag:
- clews
- water
title: Climate land energy water modelling
---

# Climate land energy water modelling

## A Teaching Kit Production

Authors: Will Usher and Lorenzo Sani

Date: 18th March 2020
---

{% include_relative modules/teaching_kit.html %}

---

{% include_relative modules/climate.html %}

---

{% include_relative modules/land.html %}

---

{% include_relative modules/energy.html %}

---

{% include_relative modules/water.html %}

---

# List of available presentations

 {% include presentations-list.html %}

---

# Closing

Thanks for watching

---